.cardCarrinho {
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 22rem;
    border: solid 0.7px #dcdcdc;
    box-shadow: 2px 2px 5px #aaaaaa;
    border-radius: 0.6rem !important;
    text-align: center;
    justify-content: space-around;
    & > img {
        border-radius: 2rem;
        width: 100%;
        height: 100%;
    }

}