 

@media only screen and (max-width: 1024px) {
    .cardDiv {
        grid-template-columns: auto auto;
    }
}

.cardProduto {
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 22rem;
    border: solid 0.7px #dcdcdc;
    box-shadow: 2px 2px 5px #aaaaaa;
    border-radius: 0.6rem !important;
    text-align: center;
    justify-content: space-around;
    & > img {
        border-radius: 2rem;
        width: 100%;
        height: 100%;
    }
}

.cardImg {
    width: 60%;
}

.cardB2 {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    padding: 0!important;
    align-self: center;

    & > input {
        min-width: 3rem;
        width: 3rem;
        min-height: 2rem;
        height: 2rem;
        border: solid 1.5px #777777;
        border-radius: .5rem;
        margin: 0 .5rem;
        outline: none;
        box-sizing: border-box;
        text-align: center;
        font-size: 1rem;
        user-select: none;
    
        
        &::-webkit-inner-spin-button{
            display: none;
        }
    }

    & > button {
        min-width: 2rem;
        width: 2rem;
        min-height: 2rem;
        height: 2rem;
        border: solid 1.5px #777777;
        background-color: white;
        border-radius: .5rem;
        font-size: 1rem;
        box-sizing: border-box;
        cursor: pointer;
    
        &:hover{
            color: #fff;
            background-color: #000;
        }
    }
}


a:-webkit-any-link {
    text-decoration: none;
    color: black;
}